{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<script src='https://www.google.com/recaptcha/api.js'></script>
<style type="text/css">
body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
.well {
        margin: 60px 60px;
        text-align: center;
        }
</style>
<div class="well">
    <h3>Recuperar Senha</h3>
    <form class="form" action="" method="post" name="recovery">
      {{form.hidden_tag()}}
      <div class="control-group{% if form.errors.email %} error{% endif %}">
        <label class="control-label" for="email">Email:</label>
          <div class="controls">
            {{ form.email(size = 30, class = "span4") }}
            {% for error in form.errors.email %}
              <br><span class="help-inline" style="color: red;">[{{error}}]</span>
              </br>
            {% endfor %}
          </div>
      </div>
      <h5>*Será enviada uma nova senha temporária para seu e-mail</h5>
      <style>
        .capatcha {
          text-align: center;
         }
        .g-recaptcha {
          display: inline-block;
         }
      </style>
      <div id="capatcha">
      <div class="control-group">
        <div class="controls">
          <label class="checkbox" for="apagar">
            {{ form.recaptcha(margin = '0 auto', display=block) }}
            {% for error in form.errors.recaptcha %}
              <br><span class="help-inline" style="color: red;">[Erro de Validação]</span>
              </br>
            {% endfor %}
          </label>
        </div>
      </div>
      </div>
      
      <div class="control-group">
        <div class="controls">
          <input class="btn btn-primary" type="submit" value="Enviar">
          <a href="{{url_for('index')}}"><input class="btn btn-primary" value="Cancelar"></a>
        </div>
      </div>
      </form>
</div>

{% endblock %}